# VITE_WEBSITE_URL="https://app.hamdast.com"
# VITE_WEBSITE_URL="https://hamdast.chatsift.com"
VITE_WEBSITE_URL=http://localhost:3000

VITE_GOOGLE_CLIENT_ID="624762112650-vmr4eod8kiesen2295l7vf609ero556s.apps.googleusercontent.com"
